body {
    background-color: beige;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

.flag {
    background-color: #002654;
    height: 600px;
    width: 900px;
    position: relative;
}

.flag > .white {
    background-color: #FFFFFF;
    width: 300px;
    height: 100%;
    position: absolute;
    left: 300px;
}

.flag > .red {
    background-color: #ED2939;
    width: 300px;
    height: 100%;
    position: absolute;
    right:0px
}